/* Fonts */
/* Primary Font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Secondary Font */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #1E90FF   ;
    --secondary-color: rgb(240, 237, 229)  ;
    --accent1-color: #87CEFA;
    --accent2-color: #FFE4B5;
    --accent3-color: white;
    --accent4-color: black;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Roboto", Helvetica, sans-serif, 'IM Fell French Canon';
    --paragraph-font: Arial, Helvetica, sans-serif, 'Roboto';
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: #396E94;
    --nav-background-color: #D4AC0D;
    --nav-hover-link-color: white;
    --nav-hover-background-color: #396E94;
  }

body {
    background-color: var(--accent3-color);
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1E90FF;
    font-family: var(--paragraph-font);
}

nav a {
    text-align: center;
    text-decoration: none;
    font-family: var(--heading-font);
    color: white;
    padding: 35px;
}

nav a:hover { 
    background-color: black;
    color: #87CEFA;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#hero-msg h1 { 
    text-align: center;
    font-family: var(--heading-font);
} 

#hero-msg h4 { 
    text-align: center;
    font-family: var(--paragraph-font);
}

.button-box {
    text-align: center;
    font-family: var(--paragraph-font);
}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    background-color: var(--accent2-color);
    height: 725px;
}

.mountains {
    margin: 100px 0;
}

h2 {
    margin: 0;
}

.home-title {
    font-family: var(--heading-font);
    font-size: 2em;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 10px;
}

.book {
    background-color: #228BFA;
    text-decoration: none;
    font-family: var(--paragraph-font);
    color: #FFE4B5;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #228BFA;
    color: white;
}

.join {
    background-color: #228BFA;
    text-decoration: none;
    padding: 15px 30px;
    color: black;
    text-decoration: underline;
    font-family: var(--paragraph-font);
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover {
    background-color: #228BFA;
    color: black;
}

.msg {
    background-color: rgb(240, 237, 229);
    line-height: 1.5em;
    padding: 35px
}

.card-img {
    border:10px solid black;
}

.rivers-card {
    margin: 200px 0;
}

.camping-card {
    margin: 200px 0;
}

.rapids-card {
    margin: 200px 0;
}

footer {
    background-color: #1E90FF;
    color: black;
    font-family: Arial;
    margin-top: 200px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: white;
}

footer p {
    font-size: 1.15em;
    font-family: Arial;
    padding: 25px 50px
}

footer p a:hover {
    text-decoration: underline;
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}

.icon {
    padding-top: 10px;
}

#hero-img {
    width: 100%;
}

.msg h2 {
    color: #1E90FF;
    font-family: Arial;
}

.msg p {
    color: black;
    font-family: Arial;
    font-size: 0.8em;
    padding-bottom: 15px;
}

.social {
    padding-top: 15px;
}
