@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&family=Lato:wght@300;400;700&display=swap');

:root {
  /* Colors */
  --primary-background: #a3c6d6;  /* Soft Blue */
  --secondary-background: #f5f5f5;  /* Light Gray */
  --accent1: #1c3d5a;  /* Deep Navy */
  --accent2: #cae8fa;  /* Sky Blue */
  /* Text Colors */
  --headline-color-on-white: #1c3d5a;  /* headlines on a white background */ 
  --headline-color-on-color: #ffffff; /* headlines on a colored background */ 
  --paragraph-color-on-white: #708090; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 

  /* Background Colors */
  --paragraph-background-color: #a3c6d6;

  /* Fonts */
  --heading-font: 'Dancing Script', serif, sans-serif;
  --paragraph-font: Lato, serif, sans-serif;

  /* Navigation Colors */
  --nav-link-color: #ffffff;
  --nav-background-color: #1c3d5a;
  --nav-hover-link-color: #cae8fa;
  --nav-hover-background-color: #708090;
}

@media screen and (min-width: 900px) {#menu{
  display: none;
}

nav{
  grid-column: 3;
}

.navigation {
  display: flex;
  flex-direction: row;
}

.navigation li {
  display: block;
  flex: 1 1 100%;
}

.navigation li button {
  margin-top: 0;
  margin-left: 15px;
}
.open li:first-of-type {
  margin-top: 0px;
}
body {
  background-color: var(--primary-background);
}
#content_service {
  max-width: 2000px;
  margin: 0 auto;
}
#hero-box img {
  width: 50%;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
}
/* This section is for the services page */
#sweedish, #deep-tissue, #hot-stone, #prenatal {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 20px;
  align-items: center;
  justify-items: center;
  background-color: var(--accent1);
}

#sweedish h2, #deep-tissue h2, #hot-stone h2, #prenatal h2 {
  grid-column: 1/3;
  text-align: center;
}

#sweedish img, #deep-tissue img, #hot-stone img, #prenatal img {
  grid-column: 1/2;
  grid-row: 2;
  justify-self: center;
  width: 100%; /* Ensure the image does not exceed its container */
}

#sweedish p, #deep-tissue p, #hot-stone p, #prenatal p {
  grid-column: 2 / span 1;
  text-align: center;
}

#sweedish .button-box, #deep-tissue .button-box, #hot-stone .button-box, #prenatal .button-box {
  grid-column: 1/3;
  justify-self: center;
}
/* This is the end of the Services page */


/* Contact Us page styles */
#store-front, #massage-therapist {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: center;
  justify-items: center;
  background-color: var(--accent1);
}

#store-front img {
  grid-column: 1/2;
  grid-row: 1;
  justify-self: center;
  width: 50%; /* Ensure the image does not exceed its container */
}

#store-front p {
  grid-column: 2/3;
  text-align: center;
}
}



footer {
  display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
      align-items: center;
}
#socials a { 
  padding: 10px;
}

*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


